
@import '../../sass/others/component';
@import '../../sass/variables';

.row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 2rem;
  align-items: center;
}

.main{
  margin-left: 1rem;

  @media only screen and (max-width: $laptop-medium){
    margin-left: 15rem;
  }

  @media only screen and (max-width: $laptop-small){
    margin-left: 15rem;
  }
}

.button{
  outline: none;
  border: none;
  background: none;
}
