@import '../../sass/others/component';

.button{
  outline: none;
  border: none;
  background: none;
}


.main{
  margin-left: 5rem;

  @media only screen and (max-width: $laptop-medium){
    margin-left: 18rem;
  }
}

.row{
  &-1{
    display: grid;
    grid-template-columns: 40rem 10rem;
    align-items: center;
    grid-column-gap: 2rem;
  }
  &-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-column-gap: 2rem;
  }
}

.text{
  &--header{
    font-family: $font-primary;
    font-size: 1.3rem;
  }
  &--body{
    font-family: $font-primary;
    font-size: 1.2rem;
  }
}
