.about{
  grid-column: 1/13;
  grid-row: about-start/about-end;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-items: center;

  &-textHolder{
    width: 43rem;
    margin-left: -6rem;

    &--header{
      width: 37rem;
      font-family: $font-Subheader;
      font-size: 3rem;
    }
    &--body{
      margin-top: 1rem;
      width: 48rem;
      color: #707070;
      font-family: $font-primary;
      font-size: 1.8rem;
      text-align: justify;
    }
  }

  &--image{
    margin-left: -20rem;
    width: 40rem;
    height: 40rem;
    background-size: contain;
  }
}
