<div id="table" style="padding-bottom: 5px;margin-top: 10px;">
  <div *ngFor="let examDate of examDates;let i of index">
    <div>
      <div style="margin-bottom: 20px;">
        <h5>{{examDate}}</h5>
        <button class="btn btn-primary" (click)="getTable(i)">View Table</button>
      </div>
      <ng-container *ngIf="showTable[i]">
          <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">9:00am-12:00noon</th>
                <th scope="col">12:00noon - 3:00pm</th>
                <th scope="col">3:00pm - 6:00pm</th>
              </tr>
            </thead>
            <!-- <tbody>
              <ng-container *ngFor="let x of morningPaper;">
                <ng-container *ngFor="let y of afternoonPaper;">
                  <tr *ngFor="let z of eveningPaper">
                    <td>{{ x?.courseCode }}</td>
                      <td>{{ y?.courseCode }}</td>
                      <td>{{z?.courseCode}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
            </tbody> -->
          </table>
      </ng-container>
    </div>
  </div>
</div>
