<div class="nav-container">
  <div class="nav-header">
    <img class="nav-header--icon" src="../../../assets//Images//Logo-icon.png" />
    <p class="nav-header--text">e-Seating Arrangement</p>
  </div>
  <div class="nav-holder">
    <a class="nav--items" [routerLink]="['/coordinator/time-table']">
      <fa-icon class="nav--items-icon" [icon]="timeTable" size="3x" ></fa-icon>
      <p class="nav--items-text">time-table</p>
    </a>
    <a class="nav--items" [routerLink]="['/coordinator/work-post']">
      <fa-icon class="nav--items-icon" [icon]="hall" size="3x" ></fa-icon>
      <p class="nav--items-text">Work-Post</p>
    </a>
  </div>
  <div class="nav--bottom">
    <a class="nav--bottom-item" (click)="logout()">
      <img class="nav--bottom-item--icon" src="../../../assets//Images//logout.png" />
      <p class="nav--bottom-item--text">Sign out</p>
    </a>
  </div>
</div>
