<div class="main">
  <div style="padding-bottom: 10px">
    <button
      class="btn primary-button"
      (click)="addHall()"
      style="margin-right: 8px"
    >
      Add Hall
    </button>
    <button
      class="btn primary-button"
      (click)="onDIsplay()"
      style="margin-right: 8px"
    >
      Generate Seats
    </button>
    <button class="btn primary-button" (click)="onShow()">
      Seats Per Programme
    </button>
  </div>
  <div style="padding-bottom: 5px">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Hall Name</th>
          <th scope="col">Hall Size</th>
          <th scope="col">Department</th>
          <th scope="col">Allocated Size</th>
          <th scope="col">Coordinator</th>
          <th scope="col">Asst. Coordinator</th>
          <th scope="col">Mode</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let hall of halls | paginate: paginationConfig; let i = index"
        >
          <td class="table-text">{{ i + 1 }}</td>
          <td class="table-text">{{ hall?.hallName }}</td>
          <td class="table-text">{{ hall?.hallSize }}</td>
          <td class="table-text">{{ hall?.department }}</td>
          <td class="table-text">{{ hall?.allocatedSize }}</td>
          <td class="table-text">{{ hall?.hallMainCoordinator }}</td>
          <td class="table-text">{{ hall?.hallAssistanceCoordinator }}</td>
          <td class="table-text">{{ hall?.mode }}</td>
          <td>
            <button
              (click)="onDelete(hall?.id)"
              style="margin-right: 5px"
              class="button"
            >
              <fa-icon
                style="color: #c82333"
                [icon]="delete"
                size="2x"
              ></fa-icon>
            </button>
            <button
              (click)="onEdit(hall?.id, hall)"
              class="button"
              style="margin-right: 5px"
            >
              <fa-icon style="color: #334753" [icon]="edit" size="2x"></fa-icon>
            </button>
            <button class="button" (click)="onView(hall?.id)">
              <fa-icon style="color: #0069d9" [icon]="view" size="2x"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngx-skeleton-loader
      count="{{ itemsPerPage }}"
      appearance="line"
      *ngIf="isloading"
    ></ngx-skeleton-loader>
    <pagination-controls
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
  <div id="newHall" style="display: none">
    <div class="contain" style="padding-bottom: 48px">
      <h5 class="header">Add new Coordinators</h5>
      <form [formGroup]="hallForm" (ngSubmit)="onSubmit()">
        <div class="contain-row">
          <div class="col order-1 form-holder">
            <label for="hallName">Hall Name</label>
            <input
              formControlName="hallName"
              type="text"
              name="hallName"
              class="form-control"
              id="hallName"
              [ngClass]="{ 'is-invalid': submitted && f.hallName.errors }"
            />
            <div *ngIf="f.hallName.errors" class="invalid-feedback">
              <div *ngIf="f.hallName.errors.required">
                Hall Name is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="department">Department</label>
            <input
              formControlName="department"
              type="text"
              name="department"
              class="form-control"
              id="department"
              [ngClass]="{ 'is-invalid': submitted && f.department.errors }"
            />
            <div *ngIf="f.department.errors" class="invalid-feedback">
              <div *ngIf="f.department.errors.required">
                Department is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="hallRow">Hall Row</label>
            <input
              formControlName="hallRow"
              type="text"
              name="hallRow"
              class="form-control"
              id="hallRow"
              [ngClass]="{ 'is-invalid': submitted && f.hallRow.errors }"
            />
            <div *ngIf="f.hallRow.errors" class="invalid-feedback">
              <div *ngIf="f.hallRow.errors.required">Hall Row is required</div>
            </div>
          </div>
        </div>
        <div class="contain-row">
          <div class="col form-holder">
            <label for="hallColumn">Hall Column</label>
            <input
              formControlName="hallColumn"
              type="text"
              name="hallColumn"
              class="form-control"
              id="hallColumn"
              [ngClass]="{ 'is-invalid': submitted && f.hallColumn.errors }"
            />
            <div *ngIf="f.hallColumn.errors" class="invalid-feedback">
              <div *ngIf="f.hallColumn.errors.required">
                Hall Column is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="rowSection">Row Section</label>
            <input
              formControlName="rowSection"
              type="text"
              name="rowSection"
              class="form-control"
              id="rowSection"
              [ngClass]="{ 'is-invalid': submitted && f.rowSection.errors }"
            />
            <div *ngIf="f.rowSection.errors" class="invalid-feedback">
              <div *ngIf="f.rowSection.errors.required">
                Section is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="hallMainCoordinator">Coordinator</label>
            <select
              formControlName="hallMainCoordinator"
              id="hallMainCoordinator"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.hallMainCoordinator.errors
              }"
            >
              <option selected>Choose...</option>
              <option *ngFor="let k of coordinatorNames" [ngValue]="k">
                {{ k }}
              </option>
            </select>
          </div>
        </div>
        <div class="contain-row">
          <div class="col form-holder">
            <label for="hallAssistanceCoordinator" style="width: 200px"
              >Assistant Coordinator</label
            >
            <select
              formControlName="hallAssistanceCoordinator"
              id="hallAssistanceCoordinator"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.hallAssistanceCoordinator.errors
              }"
            >
              <option selected>Choose...</option>
              <option *ngFor="let k of coordinatorNames" [ngValue]="k">
                {{ k }}
              </option>
            </select>
          </div>
        </div>
        <button style="float: right" class="btn secondary-button">Add</button>
      </form>
    </div>
  </div>
  <div id="updateHall" style="display: none">
    <div class="contain" style="padding-bottom: 48px">
      <h5 class="header">Update Hall</h5>
      <form [formGroup]="hallUpdate" (ngSubmit)="onUpdate()">
        <div class="contain-row">
          <div class="col order-1 form-holder">
            <label for="hallName">Hall Name</label>
            <input
              formControlName="hallName"
              type="text"
              name="hallName"
              class="form-control"
              id="hallName"
              [ngClass]="{ 'is-invalid': submitted && g.hallName.errors }"
            />
            <div *ngIf="g.hallName.errors" class="invalid-feedback">
              <div *ngIf="g.hallName.errors.required">
                Hall Name is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="department">Department</label>
            <input
              formControlName="department"
              type="text"
              name="department"
              class="form-control"
              id="department"
              [ngClass]="{ 'is-invalid': submitted && g.department.errors }"
            />
            <div *ngIf="g.department.errors" class="invalid-feedback">
              <div *ngIf="g.department.errors.required">
                department is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="hallSize">Hall Size</label>
            <input
              formControlName="hallSize"
              type="text"
              name="hallSize"
              class="form-control"
              id="hallSize"
              [ngClass]="{ 'is-invalid': submitted && g.hallSize.errors }"
            />
            <div *ngIf="g.hallSize.errors" class="invalid-feedback">
              <div *ngIf="g.hallSize.errors.required">
                Hall Size is required
              </div>
            </div>
          </div>
        </div>
        <div class="contain-row">
          <div class="col form-holder">
            <label for="hallRow">Hall Row</label>
            <input
              formControlName="hallRow"
              type="text"
              name="hallRow"
              class="form-control"
              id="hallRow"
              [ngClass]="{ 'is-invalid': submitted && g.hallRow.errors }"
            />
            <div *ngIf="g.hallRow.errors" class="invalid-feedback">
              <div *ngIf="g.hallRow.errors.required">Hall Row is required</div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="hallColumn">Hall Column</label>
            <input
              formControlName="hallColumn"
              type="text"
              name="hallColumn"
              class="form-control"
              id="hallColumn"
              [ngClass]="{ 'is-invalid': submitted && g.hallColumn.errors }"
            />
            <div *ngIf="g.hallColumn.errors" class="invalid-feedback">
              <div *ngIf="g.hallColumn.errors.required">
                Hall Column is required
              </div>
            </div>
          </div>
          <div class="col order-12 form-holder">
            <label for="rowSection">Row Section</label>
            <input
              formControlName="rowSection"
              type="text"
              name="rowSection"
              class="form-control"
              id="rowSection"
              [ngClass]="{ 'is-invalid': submitted && g.rowSection.errors }"
            />
            <div *ngIf="g.rowSection.errors" class="invalid-feedback">
              <div *ngIf="g.rowSection.errors.required">
                Section is required
              </div>
            </div>
          </div>
        </div>
        <div class="contain-row">
          <div class="col order-12 form-holder">
            <label for="hallMainCoordinator">Coordinator</label>
            <select
              formControlName="hallMainCoordinator"
              id="hallMainCoordinator"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && g.hallMainCoordinator.errors
              }"
            >
              <option selected>Choose...</option>
              <option *ngFor="let k of coordinatorNames" [ngValue]="k">
                {{ k }}
              </option>
            </select>
          </div>
          <div class="col order-12 form-holder">
            <label for="hallAssistanceCoordinator" style="width: 200px"
              >Assistant Coordinator</label
            >
            <select
              formControlName="hallAssistanceCoordinator"
              id="hallAssistanceCoordinator"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && g.hallAssistanceCoordinator.errors
              }"
            >
              <option selected>Choose...</option>
              <option *ngFor="let k of coordinatorNames" [ngValue]="k">
                {{ k }}
              </option>
            </select>
          </div>
        </div>
        <button style="float: right" class="btn primary-success">Update</button>
      </form>
    </div>
  </div>
  <div id="generate" style="display: none">
    <div class="contain">
      <h5 class="header">Select Hall Name</h5>
      <form [formGroup]="HallNameForm">
        <div class="contain-row">
          <div class="col form-holder">
            <label for="hallName">Hall Name</label>
            <select
              formControlName="hallName"
              id="hallName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && h.hallName.errors }"
            >
              <option selected>Choose...</option>
              <option *ngFor="let k of hallNames" [ngValue]="k">{{ k }}</option>
            </select>
            <div *ngIf="h.hallName.errors" class="invalid-feedback">
              <div *ngIf="h.hallName.errors.required">
                Hall Name is required
              </div>
            </div>
          </div>
          <div class="col order-12" style="padding-top: 26px">
            <div class="col form-holder">
              <label for="hallName">Seating Mode</label>
              <div class="radio-container">
                <input
                  type="radio"
                  value="Regular Seating"
                  class="radio"
                  name="mode"
                  formControlName="mode"
                  id="mode"
                  [ngClass]="{ 'is-invalid': submitted && h.mode.errors }"
                />
                <p>Regular Seating</p>
              </div>
              <div class="radio-container">
                <input
                  type="radio"
                  value="Covid-19 Regulation"
                  class="radio"
                  name="mode"
                  formControlName="mode"
                  id="mode"
                  [ngClass]="{ 'is-invalid': submitted && h.mode.errors }"
                />
                <p>Covid-19 Regulation</p>
              </div>
              <div *ngIf="h.mode.errors" class="invalid-feedback">
                <div *ngIf="h.mode.errors.required">Mode is required</div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn primary-button" (click)="generateSeat()">
          Generate Seats
        </button>
      </form>
    </div>
  </div>
  <div id="view" style="display: none">
    <div class="contain">
      <h5 class="header">Hall Details</h5>
      <div class="contain-row-1">
        <div class="col">
          <p class="col--header">Hall Name</p>
          <p class="col--body">{{ hallView?.hallName }}</p>
        </div>
        <div class="col">
          <p class="col--header">Department</p>
          <p class="col--body">{{ hallView?.department }}</p>
        </div>
        <div class="col">
          <p class="col--header">Hall Size</p>
          <p class="col--body">{{ hallView?.hallSize }}</p>
        </div>
      </div>
      <div class="contain-row-1" style="margin-top: 15px">
        <div class="col">
          <p class="col--header">Main Coordinator</p>
          <p class="col--body">{{ hallView?.hallMainCoordinator }}</p>
        </div>
        <div class="col">
          <p class="col--header">Assistant Coordinator</p>
          <p class="col--body">{{ hallView?.hallAssistanceCoordinator }}</p>
        </div>
        <div class="col">
          <p class="col--header">Hall Size</p>
          <p class="col--body">{{ hallView?.hallSize }}</p>
        </div>
      </div>
      <div class="contain-row-1" style="margin-top: 15px">
        <div class="col">
          <p class="col--header">Hall Row</p>
          <p class="col--body">{{ hallView?.hallRow }}</p>
        </div>
        <div class="col">
          <p class="col--header">Hall Column</p>
          <p class="col--body">{{ hallView?.hallColumn }}</p>
        </div>
        <div class="col">
          <p class="col--header">Row section</p>
          <p class="col--body">{{ hallView?.rowSection }}</p>
        </div>
      </div>
      <div class="contain-row-1" style="margin-top: 15px">
        <div class="col">
          <p class="col--header">Allocated Seats</p>
          <p class="col--body">{{ hallView?.allocatedSize }}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="seatsPerProgramme" style="display: none">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Programme</th>
          <th scope="col">No of Seats Generated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programme of programmeObject; let i = index">
          <td class="table-text">{{ i + 1 }}</td>
          <td class="table-text">{{ programme?.programme }}</td>
          <td class="table-text">{{ programme?.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
