<div class="Print" style="margin-left: 1rem;">
  <h4 style="margin-bottom: 10px;">Attendance For {{hallDetails?.hallName}}</h4>
  <div class="contain">
    <div>
      <div>
        <div style="float: left;">
          <p class="header-small">{{hallDetails?.hallMainCoordinator}}</p>
          <p class="header-small">Main Coordinator</p>
          <p class="header-small">_____________________________________</p>
          <p class="header-small" style="margin-bottom: 1.5rem;">Signature/date</p>
        </div>
        <div style="float: right;">
          <p class="header-small">{{hallDetails?.hallAssistanceCoordinator}}</p>
          <p class="header-small">Assistance Coordinator</p>
          <p class="header-small">_____________________________________</p>
          <p class="header-small">Signature/date</p>
        </div>
      </div>
      <table class="table" style="padding-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Seat-id</th>
              <th scope="col">Programme</th>
              <th scope="col">Student MatricNumber</th>
              <th scope="col">Signature</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seat of seatsBySection?.seats;let i= index">
                <td class="table-text">{{seat?.seatId}}</td>
                <td class="table-text">{{seat?.programme}}</td>
                <td class="table-text">{{seat?.matricNumber}}</td>
                <td></td>
            </tr>
          </tbody>
      </table>
      <ngx-skeleton-loader count="{{itemPerPage}}" appearance="line" *ngIf="isloading"></ngx-skeleton-loader>
      <p class="header-small" style="margin-top: 20px;">Seats: Total Number of Seat avaialble {{hallDetails?.allocatedSize}}</p>
    </div>
  </div>
</div>
