// RESPONSIVE BREAKPOINTS
$bp-big: 87.5em;   // 1400px perfect
$bp-largest: 75em;   // 1200px perfect
$bp-large: 62.5em;   // 1000px perfect
$bp-medium: 50em;    // 800px; perfect
$bp-small: 37.5em;    // 600px;
$bp-mobile: 26em; //416px
$bq-mobile-small: 23.5; //378

$color-black: #000000;
$color-white: #ffffff;
$color-grey-dark: #777;
$color-primary: #707BB0;

$color-button-primary: #334753;
$color-button-danger: #C82333;
$color-button-success: #218838;
$color-button-secondary: #0069D9;

$color-form-label: #707070;
$color-form-input: #EDEEF3;
