// RESPONSIVE BREAKPOINTS
$bp-big: 87.5em;   // 1400px perfect
$bp-largest: 75em;   // 1200px perfect
$bp-large: 62.5em;   // 1000px perfect
$bp-medium: 50em;    // 800px; perfect
$bp-small: 37.5em;    // 600px;
$bp-mobile: 26em; //416px
$bq-mobile-small: 23.5; //378
