//new Responsive breakpoints

$laptop-medium: 75em;       //1200px
$laptop-small: 64em;        //1024px
$tablet-big: 56em;          //896px
$tablet-small: 48em;        //768px
$tablet: 37.28em;           //596.5px
$mobile-large:  26.8em;    //429px
$mobile-medium: 23.46em;    //375px
$mobile-small:  20.1em;     //320px

$color-black: #201e1e;
$color-white: #ffffff;
$color-grey-dark: #777;
$color-primary: #707BB0;

$color-button-primary: #334753;
$color-button-danger: #C82333;
$color-button-success: #218838;
$color-button-secondary: #0069D9;

$color-form-label: #707070;
$color-form-input: #EDEEF3;
