<div id="table" style="padding-bottom: 5px;margin-top: 10px;">
  <div *ngFor="let examDate of examDates;let i = index">
    <div>
      <div style="margin-bottom: 20px;">
        <h5>{{examDate}}</h5>
        <button class="btn btn-primary" (click)="getTable(examDate)">View Table</button>
      </div>
      <div *ngIf="showTable[i]" style="display: flex;">
          <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">9:00am-12:00noon</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exam of exams[i].morningPaper">
                <td>{{exam.courseCode}}</td>
              </tr>
            </tbody>
          </table>
          <ngx-skeleton-loader count="{{exams[i].morningPaper.lenght}}" appearance="line" *ngIf="isloading[i]"></ngx-skeleton-loader>
          <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">12:00noon - 3:00pm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exam of exams[i].afternoonPaper">
                <td>{{exam.courseCode}}</td>
              </tr>
            </tbody>
          </table>
          <ngx-skeleton-loader count="{{exams[i].afternoonPaper.lenght}}" appearance="line" *ngIf="isloading[i]"></ngx-skeleton-loader>
          <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">3:00pm - 6:00pm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exam of exams[i].eveningPaper">
                <td>{{exam.courseCode}}</td>
              </tr>
            </tbody>
          </table>
          <ngx-skeleton-loader count="{{exams[i].eveningPaper.lenght}}" appearance="line" *ngIf="isloading[i]"></ngx-skeleton-loader>
        </div>
    </div>
  </div>
</div>
